{% extends "base.html" %}
{% block content %}
    {% include 'includes/inc_header.html'%}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>

      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset>
              <legend><h3>User Profile</h3></legend>
              <div class="6u 12u(3)">
                  {{ form.username.label() }}

                  {% if form.username.errors %}
                      {{ form.username() }}
                      <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.username() }}
                  {% endif %}
              </div>
              <div class="6u 12u(3)">
                  {{ form.email.label() }}
                  {% if form.email.errors %}
                      {{ form.email() }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email() }}
                  {% endif %}
              </div>
              <div class="6u 12u(3)">
                  {{ form.picture.label() }}
                  {{ form.picture() }}
                  {% if form.picture.errors %}
                      {% for error in form.picture.errors %}
                          <span class="danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
              </div>
          </fieldset>
          <div class="12u">
              {{ form.submit(class="button") }}
          </div>
      </form>      
    </div>   
{% endblock content %}
