{% extends "base.html" %}
{% block content %}
    {% include 'includes/inc_header.html'%}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class=><h3>{{ legend }}</h3></legend>
            <div class="6u 12u(3)">
                {{ form.title.label() }}
                {% if form.title.errors %}
                    {{ form.title() }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title() }}
                {% endif %}
            </div>
            <div class="6u 12u(3)">
                {{ form.content.label() }}
                {% if form.content.errors %}
                    {{ form.content() }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content() }}
                {% endif %}
            </div>
        </fieldset>
        <div class="12u">
            {{ form.submit(class="button") }}
        </div>
    </form>
</div>
{% endblock content %}
