{% extends "base.html" %}
{% block content %}
    {% include 'includes/inc_header.html'%}
    <!-- Form user login -->
    <section>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend><h3>Authorization</h3></legend>
                <div class="6u 12u(3)">
                    {{ form.email.label() }}
                    {% if form.email.errors %}
                        {{ form.email() }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email() }}
                    {% endif %}
                </div>
                <div class="6u 12u(3)">
                    {{ form.password.label() }}
                    {% if form.password.errors %}
                        {{ form.password() }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
                </div>
                <div class="6u 12u(3)">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="12u">
                {{ form.submit(class="button") }}
                <small>
                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </small>
            </div>
            <small style="font-size: 15px; font-weight: 500;">
                Do you need an account? <a class="ml-2" href="{{ url_for('users.register') }}">Register</a>
            </small>
        </form>
    </section>
{% endblock content %}
