<!-- Header -->
<header id="header" class="alt skel-layers-fixed" style="background-color: #3d3b3c">
    <h1><a href="{{ url_for('main.home') }}"><span>This is the best blog EVER!:)</span></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li>
                <a href="" class="icon fa-angle-down">Layouts</a>
                <ul>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                    <li>
                        <a href="">Submenu</a>
                        <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('posts.allposts') }}">Posts</a></li>
                <li><a href="{{ url_for('posts.new_post') }}">New post</a></li>
                <li><a href="{{ url_for('users.account') }}">Profile</a></li>
                <li><a href="{{ url_for('users.logout') }}">Exit</a></li>
            {% else %}
                <li><a href="{{ url_for('users.login') }}">Login</a></li>
                <li><a href="{{ url_for('users.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
